body {
    overflow: hidden;
}

.head-user-consume {
    margin: 0 auto;
    width: 7.5rem;
    height: 3.14rem;
    background: url(../assets/img/person-head.png);
    background-size: cover;
}

.head-person-msg {
    padding-top: 0.3rem;
    height: 0.94rem;
    margin-left: 0.3rem;
    margin-right: 0.27rem;
}

.head-img-out {
    display: inline-block;
    width: 0.94rem;
    height: 0.94rem;
    background-color: #8dbafa;
    border-radius: 0.47rem;
}

.person-head-img {
    width: 0.86rem;
    height: 0.86rem;
    margin-left: 0.04rem;
    margin-top: 0.04rem;
    background-color: #000;
    border-radius: 0.43rem;
}

.person-head-img-level {
    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
    width: 0.44rem;
    height: 0.38rem;
    background-size: cover;
}

.msg-L {
    display: inline-block;
    /*float: right;*/
    font-size: 0.32rem;
    color: #fff;
    vertical-align: top;
    max-width: 5.5rem;
    overflow: hidden;
    margin-left: 0.12rem;
}

.msg-L span {
    line-height: 0.49rem;
}

.msg-right {
    /*margin-left: 2.27rem;*/
  font-size: 0.26rem;
}


.level-msg {
    margin: -1.45rem auto;
    width: 6.98rem;
    height: 2.90rem;
    border-radius: 0.08rem;
    background-color: #fff;
    box-shadow: 0px 0.025rem 0.5rem 0.15rem rgba(0, 148, 239, 0.2)
}

.level-msg-line1 {
    margin: 0 auto;
    padding-top: 0.71rem;
    height: 0.32rem;
    text-align: center;
}
.level-msg-line1 img {
    width: 6.51rem;
    height: 0.89rem;
    text-align: center;
}

.level-msg-line1 span {
    display: inline-block;
    vertical-align: top;
    font-size: 0.32rem;
    color: #0aaafb;
}

.answer-radius {
    display: inline-block;
    vertical-align: top;
    width: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    border-radius: 0.14rem;
    background-color: #0aaafb;
    font-size: 0.24rem;
    color: #fff;
}

.record-tool {
    font-size: 0.32rem;
    height: 0.9rem;
    width: 100%;
    background-color: #fff;
    margin-top: 1.85rem;
    color: #000
}
.record-tool-left{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 0.9rem;
}
.mid-line{
    float: left;
    margin-top: 0.2rem;
    height: 0.5rem;
    width: 1px;
    vertical-align: top;
    background: #d9d9d9;
}
.record-tool-right{
    float: right;
    width: 49.5%;
    text-align: center;
    line-height: 0.9rem;
}
.record-tool-active{
    color: #0ea3ff;
    height: 0.8rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 0.04rem #0ea3ff;
}
.consume-List{
    width: 100%;
    min-height: 1.55rem;
    background-color: #fff;
}
.consume-msg{
    width: 100%;
    min-height: 1.55rem;
}
.consume-msg-part1{
    float: left;
}
.consume-msg-part2{
    float: right;
    text-align: right;
}
.person-head-left-img{
    float: left;
    margin-top: 0.17rem;
    margin-left: 0.25rem;
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 0.04rem;
    border: 0.04rem solid #eeeeee;
    background: url("../assets/img/product.png");
    background-size: cover;
}
.consume-msg-detail{
    float: left;
    margin-left: 0.15rem;
    margin-top: 0.22rem;
}
.detail-line1{
    font-size: 0.3rem;
}
.detail-line2{
    margin-top: 0.12rem;
    font-size: 0.24rem;
}
.detail-line3{
    margin-top: 0.12rem;
    font-size: 0.24rem;
}
.product-name{
    font-size: 0.3rem;
    color: #000;
    margin-top: 0.22rem;
    padding-right: 0.24rem;
}
.evaluate{
    float: right;
    line-height: 0.49rem;
    margin-top: 0.12rem;
    text-align: center;
    border-radius: 0.06rem;
    width: 0.74rem;
    height: 0.487rem;
    font-size: 0.24rem;
    color: #fff;
    background-color: #0ea3ff;
    margin-right: 0.24rem;
}

.no-record {
    margin: 1rem auto;
    width: 3.44rem;
    height: 3.42rem;
    background: url("../assets/img/no-record.png");
    background-size: cover;
}

.record-list {
    margin: 0 auto;
    width: 100%;
}

.record {
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 0.3rem;
    background-color: #fff;
    color: #b5b5b5;
}

.line-FG {
    width: 100%;
    height: 0.2rem;
}

.record span {
    padding-left: 0.3rem;
    line-height: 0.57rem;
}

.black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1500px;
    background-color: #000;
    opacity: 0.3;
}

.alert-msg {
    left: 0.75rem;
    top: 2.56rem;
    width: 5.97rem;
    height: 5.68rem;
    background: #fff;
    border-radius: 0.16rem;
    text-align: center;
    overflow-x: hidden;
}

.alert-msg-ling1 {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    font-size: 0.32rem;
}

.alert-msg-ling2 {
    font-size: 0.32rem;
    text-align: center;
    margin-top: 0.25rem;
    color: #0aaafb;
}


::-webkit-scrollbar{width:0px}

.textarea-box {
    width: 5.15rem;
    margin-left: 0.4rem;
    border: none;
    line-height: 0.48rem;
    font-size: 0.28rem;
    z-index: 2;
    -webkit-overflow-scrolling:touch;
}
.hr{
    position: relative;
    margin-top: 0.1rem ;
    width: 100%;
    height: 1px;
    background: #eee;
    box-shadow: 0 -10px 25px 5px #fff;
    z-index: 999;
}
